.your-class{
    width: 100%;
    margin: 0;
}

.mygrid {
    width: 600px;
    display: grid;
     grid-gap: 10px;
    margin:10px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 20px 30px 30px 10px ;
    grid-template-areas: "header header header "
                       "a b c "
        
}


.mygrid:hover {
    opacity: 1;
}

.mygrid>* {
    border: 0px solid cyan;
}

header {
    grid-area:header;
    top: 20px;
    text-align: center;
    color: black
}

a:link {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
}


a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: blue;
}


a:active {
    color: blue;
}
.a {
    grid-area: a;
   
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
    
    
}
article {
    grid-area: article;}


.d{
    grid-area: d;
}
    
.f{
    grid-area: f;
}
    
    
.mygrid:hover {
    opacity: 1;
}

.mygrid>* {
    border: 0px solid cyan;
}

.f img{
    width: 100%
}
